<style>
    table, th, td {border: 1px solid black;}
</style>
<h4>Employee Details</h4>
<table>
    <tr>
        <th>Empno</th>
        <th>Ename</th>
        <th>Job</th>
        <th>Salary</th>
        <th>Deptno</th>
    </tr>
    <tr>
        <td>101</td>
        <td>Abhi</td>
        <td>Manager</td>
        <td>25000</td>
        <td>1</td>
    </tr>
    <tr>
        <td>102</td>
        <td>Arvind</td>
        <td>Development</td>
        <td>20000</td>
        <td>1</td>
    </tr>
    <tr>
        <td>103</td>
        <td>Kiran</td>
        <td>Manager</td>
        <td>25000</td>
        <td>2</td>
    </tr>
    <tr>
        <td>104</td>
        <td>Pavan</td>
        <td>Developer</td>
        <td>20000</td>
        <td>2</td>
    </tr>
    <tr>
        <td>105</td>
        <td>Satvik</td>
        <td>Intern</td>
        <td>10000</td>
        <td>2</td>
    </tr>      
</table>