@{
    ViewData["Title"] = "CustomError";
}

<h1>Custom Error Page Redirected from MyExceptionFilter</h1>
<hr/>
<p>We are facing some issues with the server right now. Sorry for Inconvenience </p>
